@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Rubik';
    src: url("../assety/Rubik-VariableFont_wght.ttf");
}

:root {
    --pozadi: #05130E;
    --tmavsi: #14794F;
    --tmavy: #172f1d;
    --normal: #f7f8f6;
    --svetly: #36D267;
    --svetlejsi: #57BA3E;
    --vyrazny: #b2d63b;
    --fialova: #5f1771;
    --cervena: #d83434;
    --zluta: #ECDD8C;
}

* {
    @apply font-[Rubik,system-ui,sans-serif];
}

/* html {
    @apply snap-both snap-mandatory;
} */

body {
    @apply flex relative flex-col min-h-[100svh] h-max bg-geo-50 overflow-x-clip overflow-y-auto;
}
.clip {
    @apply overflow-clip
}
/* html { @apply overflow-x-clip } */

header {
    @apply relative px-2 w-max h-8 text-xl bg-geo-400;
}
header::after {
    @apply content-[''] w-full h-full bg-geo-400 absolute top-0;
    clip-path: polygon(0% -20%, 0% 100%, 60px 100%);
}
header::before {
    @apply content-[''] bg-geo-300 w-full left-0 absolute bottom-0 h-2 -z-10;
}

.underlineThick::before {
    @apply content-[''] w-full absolute h-2 bg-geo-100 top-6 -z-20;
}

main {
    @apply max-w-7xl;
}

/* Navbar */
nav::after {
    @apply top-0 transition-transform shadow-geo-50 shadow-lg w-[-moz-available] w-[-webkit-fill-available] mx-4 h-full content-[''] absolute -z-10 bg-geo-400;
}
.navButton::after {
    @apply content-[''] w-full left-2 h-full absolute bg-black bg-opacity-0 -skew-x-12 hover:bg-opacity-20;
}
.navButton::after[data-vybrano='true'] {
    @apply bg-opacity-30;
}

.skewButton { @apply relative; }
.skewButton::before {
    @apply content-[''] bg-inherit w-[110%] h-full -skew-x-12 absolute -left-2 -z-10 top-0;
}

progress::-moz-progress-bar {
    @apply bg-geo-400;
}

input[ŧype="checkbox"] {
    @apply inline relative p-1 mr-2 w-5 h-5 appearance-none border-geo-400 bg-geo-50;
}
/* input[ŧype="checkbox"]::after {
    @apply absolute content-[''] w-5/6 h-5/6 bg-geo-400 left-0 top-0;
}
input[ŧype="checkbox"]:checked::after {
    @apply absolute content-[''] w-5/6 h-5/6 bg-geo-400 left-0 top-0;
} */