@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Rubik';
    src: url("../assety/Rubik-VariableFont_wght.ttf");
}

:root {
    --pozadi: #05130E;
    --tmavsi: #14794F;
    --tmavy: #172f1d;
    --normal: #e3efe2;
    --svetly: #36D267;
    --svetlejsi: #57BA3E;
    --vyrazny: #b2d63b;
    --fialova: #5f1771;
}

* {
    @apply font-[Rubik,_sans-serif];
}

body {
    @apply flex flex-col h-screen bg-geo-50 relative;
}
/* html { @apply overflow-x-clip } */

header {
    @apply relative px-2 w-max h-8 text-xl bg-geo-400;
}
header::after {
    @apply content-[''] w-full h-full bg-geo-400 absolute top-0;
    clip-path: polygon(0% -20%, 0% 100%, 60px 100%);
}
header::before {
    @apply content-[''] bg-geo-300 w-full left-0 absolute bottom-0 h-2 -z-10;
}

.underlineThick::before {
    @apply content-[''] w-full absolute h-2 bg-geo-100 top-6 -z-20;
}

main {
    @apply max-w-7xl;
}

/* Navbar */
nav::after {
    @apply top-0 shadow-geo-50 shadow-lg w-[-moz-available] w-[-webkit-fill-available] mx-4 h-full content-[''] absolute -z-10 bg-geo-400 -skew-x-12;
}
.navButton::after {
    @apply content-[''] w-full left-2 h-full absolute bg-black bg-opacity-0 -skew-x-12 hover:bg-opacity-20;
}
.navButton::after[data-vybrano='true'] {
    @apply bg-opacity-30;
}

.skewButton { @apply relative max-w-[90%]; }
.skewButton::before {
    @apply content-[''] bg-inherit w-[110%] h-full -skew-x-12 absolute -left-2 -z-10 top-0;
}
